---
import DocLayout from '../layouts/Doclayout.astro';
import CodeBlock from '../components/CodeBlock.astro';

// --- 4.1.1 Creating Action Servers ---
const pyActionServerInitCode = 
`# Extra imports for action servers
from rclpy.action import ActionServer
from rclpy.action import CancelResponse, GoalResponse

# In constructor
self.[action_server_variable_name] = ActionServer(
            self,
            [action_type],
            "[action_name]",
            execute_callback=self.[action_accepted_callback_function],
            goal_callback=self.[action_request_callback_function],
            cancel_callback=self.[action_cancel_callback_function])`;

const pyActionServerInitCustom = 
`# Extra imports for action servers
from rclpy.action import ActionServer
from rclpy.action import CancelResponse, GoalResponse

# In constructor
self.<span class="ph-var">[action_server_variable_name]</span> = ActionServer(
            self,
            <span class="ph-type">[action_type]</span>,
            "<span class="ph-generic">[action_name]</span>",
            execute_callback=self.<span class="ph-fn">[action_accepted_callback_function]</span>,
            goal_callback=self.<span class="ph-fn">[action_request_callback_function]</span>,
            cancel_callback=self.<span class="ph-fn">[action_cancel_callback_function]</span>)`;

const cppActionServerInitCode = 
`// Extra header for action servers
#include <rclcpp_action/rclcpp_action.hpp>
#include <thread>

public:

    // Constructor
    [node_class_name]() : Node("[node_name]"") {

        // Initialize action server attribute
        [action_server_variable_name] = rclcpp_action::create_server${'<'}[action_type]>(this,
            "[action_name]",
            std::bind(&[node_class_name]::[action_request_callback_function], this, std::placeholders::_1, std::placeholders::_2),
            std::bind(&[node_class_name]::[action_cancel_callback_function], this, std::placeholders::_1),
            std::bind(&[node_class_name]::[action_accepted_callback_function], this, std::placeholders::_1));

    }

private:

    // Declare a pointer to the action server attribute
    rclcpp_action::Server${'<'}[action_type]>::SharedPtr [action_server_variable_name];`;

const cppActionServerInitCustom = 
`// Extra header for action servers
#include &lt;rclcpp_action/rclcpp_action.hpp&gt;
#include &lt;thread&gt;

public:

    // Constructor
    <span class="ph-class">[node_class_name]</span>() : Node("<span class="ph-generic">[node_name]</span>") {

        // Initialize action server attribute
        <span class="ph-var">[action_server_variable_name]</span> = rclcpp_action::create_server&lt;<span class="ph-type">[action_type]</span>&gt;(this,
            "<span class="ph-generic">[action_name]</span>",
            std::bind(&amp;<span class="ph-class">[node_class_name]</span>::<span class="ph-fn">[action_request_callback_function]</span>, this, std::placeholders::_1, std::placeholders::_2),
            std::bind(&amp;<span class="ph-class">[node_class_name]</span>::<span class="ph-fn">[action_cancel_callback_function]</span>, this, std::placeholders::_1),
            std::bind(&amp;<span class="ph-class">[node_class_name]</span>::<span class="ph-fn">[action_accepted_callback_function]</span>, this, std::placeholders::_1));

    }

private:

    // Declare a pointer to the action server attribute
    rclcpp_action::Server&lt;<span class="ph-type">[action_type]</span>&gt;::SharedPtr <span class="ph-var">[action_server_variable_name]</span>;`;

// --- 4.1.2 Handling Action Client Requests ---
const pyGoalReqCode = 
`def [action_request_callback_function](self, goal):

    # Do something to determine whether the action can be executed
    
    # Must return one of two options
    return GoalResponse.ACCEPT
    # ACCEPT: Accept goal and perform execution immediately
    # REJECT: Reject goal, will not be executed`;

const pyGoalReqCustom = 
`def <span class="ph-fn">[action_request_callback_function]</span>(self, goal):

    # Do something to determine whether the action can be executed
    
    # Must return one of two options
    return GoalResponse.ACCEPT
    # ACCEPT: Accept goal and perform execution immediately
    # REJECT: Reject goal, will not be executed`;

const cppGoalReqCode = 
`rclcpp_action::GoalResponse [action_request_callback_function](const rclcpp_action::GoalUUID &uuid, 
            const std::shared_ptr${'<'}[action_type]::Goal> goal) {

    // Do something to determine whether the action can be executed

    // Must return one of three options
    return rclcpp_action::GoalResponse::ACCEPT_AND_EXECUTE;
    // ACCEPT_AND_EXECUTE: Accept goal and execute immediately
    // ACCEPT_AND_DEFER: Accept goal but execute later
    // REJECT: Reject the goal request, will not be executed

}`;

const cppGoalReqCustom = 
`rclcpp_action::GoalResponse <span class="ph-fn">[action_request_callback_function]</span>(const rclcpp_action::GoalUUID &amp;uuid, 
            const std::shared_ptr&lt;<span class="ph-type">[action_type]</span>::Goal&gt; goal) {

    // Do something to determine whether the action can be executed

    // Must return one of three options
    return rclcpp_action::GoalResponse::ACCEPT_AND_EXECUTE;
    // ACCEPT_AND_EXECUTE: Accept goal and execute immediately
    // ACCEPT_AND_DEFER: Accept goal but execute later
    // REJECT: Reject the goal request, will not be executed

}`;

// --- 4.1.3 Handling Cancel Requests ---
const pyCancelReqCode = 
`def [action_cancel_callback_function](self, goal):

    # Do something to determine whether the action can be executed
    
    # Must return one of two options
    return CancelResponse.ACCEPT
    # ACCEPT: Accept cancellation and an attempt is made to immediately cancel execution
    # REJECT: Decline cancellation request, execution will continue`;

const pyCancelReqCustom = 
`def <span class="ph-fn">[action_cancel_callback_function]</span>(self, goal):

    # Do something to determine whether the action can be executed
    
    # Must return one of two options
    return CancelResponse.ACCEPT
    # ACCEPT: Accept cancellation and an attempt is made to immediately cancel execution
    # REJECT: Decline cancellation request, execution will continue`;

const cppCancelReqCode = 
`rclcpp_action::CancelResponse [action_cancel_callback_function](
            const std::shared_ptr${'<'}rclcpp_action::ServerGoalHandle${'<'}[action_type]>> goal) {

    // Do something to determine if the action can be cancelled
    // If cancel, cleanup and determine what is next

    // Must return one of two options
    return rclcpp_action::CancelResponse::ACCEPT;
    // ACCEPT: Accept cancellation and an attempt is made to immediately cancel execution
    // REJECT: Decline cancellation request, execution will continue

}`;

const cppCancelReqCustom = 
`rclcpp_action::CancelResponse <span class="ph-fn">[action_cancel_callback_function]</span>(
            const std::shared_ptr&lt;rclcpp_action::ServerGoalHandle&lt;<span class="ph-type">[action_type]</span>&gt;&gt; goal) {

    // Do something to determine if the action can be cancelled
    // If cancel, cleanup and determine what is next

    // Must return one of two options
    return rclcpp_action::CancelResponse::ACCEPT;
    // ACCEPT: Accept cancellation and an attempt is made to immediately cancel execution
    // REJECT: Decline cancellation request, execution will continue

}`;

// --- 4.1.4 Executing Actions ---
const pyExecutionLoopCode = 
`#import asyncio

# ...

async def [action_accepted_callback_function](self, goal):

        # Define variables for the feedback and results of the action
        feedback = [action_type].Feedback()
        result = [action_type].Result()

        # Execution loop (equivalent to your while loop)
        while [execution_conditions]:

            # Perform checks on process, provide feedback to client, etc.
            feedback.[feedback_variable_1] = ...
            feedback.[feedback_variable_2] = ...
            # ...
            goal.publish_feedback(feedback)

            # Check and handle for cancellation
            if goal.is_cancel_requested():
            
                # Modify result.[result_variable_1] ...
                goal.canceled() # Set this only if you can truly cancel action
                return result
            
            # Abort process if needed
            if [abort_conditions]:

                # Modify result.[result_variable_1] ...
                goal.abort()
                return result

            await asyncio.sleep(dt)

        # Once goal is acheived, return results
        result.[result_variable_1] = ...
        result.[result_variable_2] = ...

        return result`;

const pyExecutionLoopCustom = 
`#import asyncio

# ...

async def <span class="ph-fn">[action_accepted_callback_function]</span>(self, goal):

        # Define variables for the feedback and results of the action
        feedback = <span class="ph-type">[action_type]</span>.Feedback()
        result = <span class="ph-type">[action_type]</span>.Result()

        # Execution loop (equivalent to your while loop)
        while [execution_conditions]:

            # Perform checks on process, provide feedback to client, etc.
            feedback.[feedback_variable_1] = ...
            feedback.[feedback_variable_2] = ...
            # ...
            goal.publish_feedback(feedback)

            # Check and handle for cancellation
            if goal.is_cancel_requested():
            
                # Modify result.[result_variable_1] ...
                goal.canceled() # Set this only if you can truly cancel action
                return result
            
            # Abort process if needed
            if [abort_conditions]:

                # Modify result.[result_variable_1] ...
                goal.abort()
                return result

            await asyncio.sleep(dt)

        # Once goal is acheived, return results
        result.[result_variable_1] = ...
        result.[result_variable_2] = ...

        return result`;

const cppExecutionLoopCode = 
`void [action_accepted_callback_function](const std::shared_ptr${'<'}rclcpp_action::ServerGoalHandle${'<'}[action_type]>> goal) {

    // Start execution on a seperate thread
    std::thread{
        std::bind(&[node_class_name]::[handle_execution_function], this, std::placeholders::_1), goal  }.detach();
}

void [handle_execution_function](const std::shared_ptr${'<'}rclcpp_action::ServerGoalHandle${'<'}[action_type]>> goal) {

    // Define variables for the feedback and result of the action
    auto result = std::make_shared${'<'}[action_type]::Result>();
    auto feedback = std::make_shared${'<'}[action_type]::Feedback>();

    // While loop for execution based on the completion criteria
    while ([execution_conditions]) {

        // Perform checks on process, provide feedback to client, etc.
        feedback->[feedback_variable_1] = ...
        feedback->[feedback_variable_2] = ...
        // ...
        goal->publish_feedback(feedback)

        // Check and handle for cancellation
        if (goal->is_canceling()) {

            // Modify result.[result_variable_1] ...
            goal->canceled(result);
            return;
                
        }

        // Abort process if needed
        if (abort_conditions) {

            // Modify result.[result_variable_1] ...
            goal->abort(result);
            return;

        }
    }

    // Once goal is acheived, return results using pointer
    // Modify result.[result_variable_1] ...
    goal->succeed(result);
}`;

const cppExecutionLoopCustom = 
`void <span class="ph-fn">[action_accepted_callback_function]</span>(const std::shared_ptr&lt;rclcpp_action::ServerGoalHandle&lt;<span class="ph-type">[action_type]</span>&gt;&gt; goal) {

    // Start execution on a seperate thread
    std::thread{
        std::bind(&amp;<span class="ph-class">[node_class_name]</span>::<span class="ph-fn">[handle_execution_function]</span>, this, std::placeholders::_1), goal  }.detach();
}

void <span class="ph-fn">[handle_execution_function]</span>(const std::shared_ptr&lt;rclcpp_action::ServerGoalHandle&lt;<span class="ph-type">[action_type]</span>&gt;&gt; goal) {

    // Define variables for the feedback and result of the action
    auto result = std::make_shared&lt;<span class="ph-type">[action_type]</span>::Result&gt;();
    auto feedback = std::make_shared&lt;<span class="ph-type">[action_type]</span>::Feedback&gt;();

    // While loop for execution based on the completion criteria
    while ([execution_conditions]) {

        // Perform checks on process, provide feedback to client, etc.
        feedback-&gt;[feedback_variable_1] = ...
        feedback-&gt;[feedback_variable_2] = ...
        // ...
        goal-&gt;publish_feedback(feedback)

        // Check and handle for cancellation
        if (goal-&gt;is_canceling()) {

            // Modify result.[result_variable_1] ...
            goal-&gt;canceled(result);
            return;
                
        }

        // Abort process if needed
        if (abort_conditions) {

            // Modify result.[result_variable_1] ...
            goal-&gt;abort(result);
            return;

        }
    }

    // Once goal is acheived, return results using pointer
    // Modify result.[result_variable_1] ...
    goal-&gt;succeed(result);
}`;

// --- 4.2.1 Creating Action Clients ---
const pyActionClientInitCode = 
`from rclpy.action import ActionClient
self.[client_variable_name] = ActionClient(self, [action_type], "[action_name]")`;

const pyActionClientInitCustom = 
`from rclpy.action import ActionClient
self.<span class="ph-var">[client_variable_name]</span> = ActionClient(self, <span class="ph-type">[action_type]</span>, "<span class="ph-generic">[action_name]</span>")`;

const cppActionClientInitCode = 
`#include <rclcpp_action/rclcpp_action.hpp>

public:

    // Constructor
    [node_class_name]() : Node("[node_name]"") {

        [client_variable_name] = rclcpp_action::create_client${'<'}[action_type]>(this, "[action_name]");

    }

private:

// Declare a pointer to the client attribute
rclcpp_action::Client${'<'}[action_type]>::SharedPtr [client_variable_name];`;

const cppActionClientInitCustom = 
`#include &lt;rclcpp_action/rclcpp_action.hpp&gt;

public:

    // Constructor
    <span class="ph-class">[node_class_name]</span>() : Node("<span class="ph-generic">[node_name]</span>") {

        <span class="ph-var">[client_variable_name]</span> = rclcpp_action::create_client&lt;<span class="ph-type">[action_type]</span>&gt;(this, "<span class="ph-generic">[action_name]</span>");

    }

private:

// Declare a pointer to the client attribute
rclcpp_action::Client&lt;<span class="ph-type">[action_type]</span>&gt;::SharedPtr <span class="ph-var">[client_variable_name]</span>;`;

// --- 4.2.2 Checking Availability ---
const pyWaitActionCode = `self.[client_variable_name].wait_for_action_server([check_period])`;
const pyWaitActionCustom = `self.<span class="ph-var">[client_variable_name]</span>.wait_for_action_server(<span class="ph-generic">[check_period]</span>)`;

const cppWaitActionCode = 
`using namespace std::chrono_literals;

[client_variable_name]->wait_for_action_server([check_period]s)`;

const cppWaitActionCustom = 
`using namespace std::chrono_literals;

<span class="ph-var">[client_variable_name]</span>-&gt;wait_for_action_server([check_period]s)`;

// --- 4.2.3 Sending Requests ---
const pySendGoalCode = 
`# IMPORTANT: Import partial from functools to pass on goal message to callback function
from functools import partial

# Get goal object
goal_msg = [action_type].Goal()

# ... Include message you want to send into the goal object's attributes

# Send request to server
send_goal_future = self.[client_variable_name].send_goal_async(goal_msg)

# Call a callback function when receiving a response from server
send_goal_future.add_done_callback(partial(self.[client_callback_function], goal_msg = goal_msg))`;

const pySendGoalCustom = 
`# IMPORTANT: Import partial from functools to pass on goal message to callback function
from functools import partial

# Get goal object
goal_msg = <span class="ph-type">[action_type]</span>.Goal()

# ... Include message you want to send into the goal object's attributes

# Send request to server
send_goal_future = self.<span class="ph-var">[client_variable_name]</span>.send_goal_async(goal_msg)

# Call a callback function when receiving a response from server
send_goal_future.add_done_callback(partial(self.<span class="ph-fn">[client_callback_function]</span>, goal_msg = goal_msg))`;

const cppSendGoalCode = 
`// Get goal object pointer
auto goal_msg = [action_type]::Goal();

// ... Include message you want to send into the goal object's attributes

// Set up send options (including callbacks)
auto send_goal_options = rclcpp_action::Client${'<'}[action_type]>::SendGoalOptions();
send_goal_options.goal_response_callback = std::bind(&[node_class_name]::[client_callback_function], this, std::placeholders::_1);

// Send request
[client_variable_name]->async_send_goal(goal_msg, send_goal_options);`;

const cppSendGoalCustom = 
`// Get goal object pointer
auto goal_msg = <span class="ph-type">[action_type]</span>::Goal();

// ... Include message you want to send into the goal object's attributes

// Set up send options (including callbacks)
auto send_goal_options = rclcpp_action::Client&lt;<span class="ph-type">[action_type]</span>&gt;::SendGoalOptions();
send_goal_options.goal_response_callback = std::bind(&amp;<span class="ph-class">[node_class_name]</span>::<span class="ph-fn">[client_callback_function]</span>, this, std::placeholders::_1);

// Send request
<span class="ph-var">[client_variable_name]</span>-&gt;async_send_goal(goal_msg, send_goal_options);`;

// --- 4.2.4 Receiving Responses ---
const pyResponseCode = 
`def [client_callback_function](self, future, goal_msg):

    goal_handle = future.result()
    # Do what you need on the response from the server
    # ...`;

const pyResponseCustom = 
`def <span class="ph-fn">[client_callback_function]</span>(self, future, goal_msg):

    goal_handle = future.result()
    # Do what you need on the response from the server
    # ...`;

const cppResponseCode = 
`private:

// ...

void [client_callback_function](rclcpp_action::ClientGoalHandle${'<'}[action_type]>::SharedPtr future) {
            
    auto goal_handle = future.get();
    // Do what you need on the response from the server
    # ...

}`;

const cppResponseCustom = 
`private:

// ...

void <span class="ph-fn">[client_callback_function]</span>(rclcpp_action::ClientGoalHandle&lt;<span class="ph-type">[action_type]</span>&gt;::SharedPtr future) {
            
    auto goal_handle = future.get();
    // Do what you need on the response from the server
    // ...

}`;
---

<DocLayout title="Actions" activeSection="actions">

  <h1 class="doc-title">Actions</h1>
  <p class="doc-subtitle">Chapter 6</p>

  <h2 class="section-heading" id="action-servers">6.1 Action Servers</h2>

  <h3 class="subsection-heading">6.1.1 Creating Action Servers</h3>
  <p>Create a new node for the appropriate language in your workspace. Include the following code snippets <strong>in the constructor of your node class to create a server.</strong></p>

  <div class="param-list">
    <div class="param-item">
      <code class="param-name ph-var-inline">[action_server_variable_name]</code>
      <span class="param-desc">: the name of the member variable that will store the action server attribute.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-type-inline">[action_type]</code>
      <span class="param-desc">: the action service type to which the action server &amp; action clients use.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-generic-inline">[action_name]</code>
      <span class="param-desc">: the name of the action provided by the action server.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-fn-inline">[action_request_callback_function]</code>
      <span class="param-desc">: a callback (member) function that is called once a request is received by an action client.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-fn-inline">[action_cancel_callback_function]</code>
      <span class="param-desc">: a callback (member) function that is called when the action is canceled by an action client.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-fn-inline">[action_accepted_callback_function]</code>
      <span class="param-desc">: a callback (member) function that is called when the action request is accepted (usually to start the execution of the action, <strong>which is handled by a separate member function <code class="param-name ph-fn-inline"">[handle_execution_function]</code></strong>).</span>
    </div>
  </div>

  <h4 class="subsection-heading">6.1.1.1 Python</h4>
  <CodeBlock code={pyActionServerInitCode} lang="python" customHtml={pyActionServerInitCustom} showLegend={true} />

  <h4 class="subsection-heading">6.1.1.2 C++</h4>
  <CodeBlock code={cppActionServerInitCode} lang="cpp" customHtml={cppActionServerInitCustom} showLegend={true} />

  <h3 class="subsection-heading">6.1.2 Handling Action Client Requests</h3>
  <p>This is the first callback function that will be executed once a request is received. This is mainly used to verify whether the goal of the action is feasible and thus can be executed safely.</p>
  <blockquote>
    <strong class="ph-generic-inline">uuid:</strong> A unique identifier for a specific goal request (16 byte value). This is used to determine which action client sent the request, and can be used to perform queuing or prioritized scheduling.
  </blockquote>

  <h4 class="subsection-heading">6.1.2.1 Python</h4>
  <CodeBlock code={pyGoalReqCode} lang="python" customHtml={pyGoalReqCustom} />

  <h4 class="subsection-heading">6.1.2.2 C++</h4>
  <CodeBlock code={cppGoalReqCode} lang="cpp" customHtml={cppGoalReqCustom} />

  <h3 class="subsection-heading">6.1.3 Handling Cancel Requests</h3>
  <p>This will be called if ever an action client sends a cancel request. This function is meant to be used to <strong>evaluate whether cancellation is feasible</strong>. The execution function <code class="param-name ph-fn-inline">[handle_execution_function]</code> is where the action is truly canceled, while <code class="param-name ph-fn-inline">[action_cancel_callback_function]</code> only forwards the cancellation request to the execution function.</p>

  <h4 class="subsection-heading">6.1.3.1 Python</h4>
  <CodeBlock code={pyCancelReqCode} lang="python" customHtml={pyCancelReqCustom} />

  <h4 class="subsection-heading">6.1.3.2 C++</h4>
  <CodeBlock code={cppCancelReqCode} lang="cpp" customHtml={cppCancelReqCustom} />

  <h3 class="subsection-heading">6.1.4 Executing Actions, Providing Feedback &amp; Returning Results</h3>
  <p><code class="param-name ph-fn-inline">[action_accepted_callback_function]</code> is called once the action request is accepted. This function is used to start the execution of the action.</p>
  <p><code class="param-name ph-fn-inline">[handle_execution_function]</code>: the member variable that will run on a separate thread which actually runs the action.</p>

  <h4 class="subsection-heading">6.1.4.1 Python</h4>
  <p>In RCLPy, there is only one function needed for <code class="param-name ph-fn-inline">[action_accepted_callback_function]</code> &amp; <code class="param-name ph-fn-inline">[handle_execution_function]</code>; execution is handled automatically in an asynchronous manner.</p>
  <CodeBlock code={pyExecutionLoopCode} lang="python" customHtml={pyExecutionLoopCustom} />

  <h4 class="subsection-heading">6.1.4.2 C++</h4>
  <CodeBlock code={cppExecutionLoopCode} lang="cpp" customHtml={cppExecutionLoopCustom} />


  <h2 class="section-heading" id="action-clients">6.2 Action Clients</h2>

  <h3 class="subsection-heading">6.2.1 Creating a Client</h3>
  <p>Create a new node for the appropriate language in your workspace. Include the following code snippets <strong>in the constructor of your node class to create a client.</strong></p>

  <div class="param-list">
    <div class="param-item">
      <code class="param-name ph-var-inline">[client_variable_name]</code>
      <span class="param-desc">: the name of the member variable that will store the client attribute.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-type-inline">[action_type]</code>
      <span class="param-desc">: the interface action type to which the server &amp; clients use.</span>
    </div>
    <div class="param-item">
      <code class="param-name ph-generic-inline">[action_name]</code>
      <span class="param-desc">: the name of the action provided by the server.</span>
    </div>
  </div>

  <h4 class="subsection-heading">6.2.1.1 Python</h4>
  <CodeBlock code={pyActionClientInitCode} lang="python" customHtml={pyActionClientInitCustom} showLegend={true} />

  <h4 class="subsection-heading">6.2.1.2 C++</h4>
  <CodeBlock code={cppActionClientInitCode} lang="cpp" customHtml={cppActionClientInitCustom} showLegend={true} />

  <h3 class="subsection-heading">6.2.2 Checking Whether an Action Server is Available (If Server is Operational)</h3>
  <p><code class="param-name ph-generic-inline"">[check_period]</code> is the amount of time (in seconds) at which the node checks whether the action server is available. This returns either <code class="ph-var-inline">True</code> or <code class="ph-var-inline">False</code>.</p>

  <h4 class="subsection-heading">6.2.2.1 Python</h4>
  <CodeBlock code={pyWaitActionCode} lang="python" customHtml={pyWaitActionCustom} />

  <h4 class="subsection-heading">6.2.2.2 C++</h4>
  <CodeBlock code={cppWaitActionCode} lang="cpp" customHtml={cppWaitActionCustom} />

  <h3 class="subsection-heading">6.2.3 Sending an Asynchronous Request from a Client to a Server</h3>
  <p>A node sending an asynchronous request can continue performing operations until a response is received. <strong>It is advised but not necessary to wrap the following in a function (that can be called when you want to call an action).</strong> Include the following code into your node class.</p>
  <p><code class="param-name ph-fn-inline">[client_callback_function]</code>: a callback function which is called when a goal response message is received from a server.</p>

  <h4 class="subsection-heading">6.2.3.1 Python</h4>
  <CodeBlock code={pySendGoalCode} lang="python" customHtml={pySendGoalCustom} />

  <h4 class="subsection-heading">6.2.3.2 C++</h4>
  <CodeBlock code={cppSendGoalCode} lang="cpp" customHtml={cppSendGoalCustom} />

  <h3 class="subsection-heading">6.2.4 Receiving an Asynchronous Response</h3>
  <p>Create the <code class="param-name ph-fn-inline"">[client_callback_function]</code> as a node class member.</p>

  <h4 class="subsection-heading">6.2.4.1 Python</h4>
  <CodeBlock code={pyResponseCode} lang="python" customHtml={pyResponseCustom} />

  <h4 class="subsection-heading">6.2.4.2 C++</h4>
  <CodeBlock code={cppResponseCode} lang="cpp" customHtml={cppResponseCustom} />

</DocLayout>